TOKEN HERE
REQUESTS PER TIME
HOURS TO RESET REQUEST COUNT
QUALITY SETTING
MINIMUM SEEDERS
YOUR COMMAND CHANNEL ID HERE
YOUR PATH TO YOUR MOVIES FOLDER (eg. /var/www/movies OR D:\\movies)
BITTORRENT USERNAME
BITTORRENT PASSWORD